.feedbackStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.feedbackStats h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feedbackStats p {
    font-size: 18px;
    margin-bottom: 5px;
}